@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-slow {
  0%, 100% { transform: translateY(-10%); animation-timing-function: cubic-bezier(0.8, 0, 1, 1); }
  50% { transform: translateY(0); animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }
}
.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}

html {
  font-size: 10px;
}

body {
  @apply bg-dnd-dark text-white overflow-hidden;
  font-family: 'Press Start 2P', monospace;
  -webkit-font-smoothing: none;
}

img {
  image-rendering: pixelated;
}

.parchment {
  background-color: #0000aa;
  color: #ffffff;
  box-shadow: 8px 8px 0px rgba(0,0,0,1);
  border: 4px solid #ffffff;
  border-radius: 0;
}

.dnd-button {
  @apply px-4 py-2 bg-dnd-red text-white border-4 border-white hover:bg-red-700 transition-none shadow-[4px_4px_0px_rgba(0,0,0,1)] active:translate-y-1 active:translate-x-1 active:shadow-none rounded-none;
}

.dnd-card {
  @apply bg-black border-4 border-white p-4 rounded-none shadow-[8px_8px_0px_rgba(0,0,0,1)];
}
